$primary       : #000;
$primary-dark  : #000;
$secondary     : #000;
$secondary-dark: #000;
$info          : #000;
$alert         : #000;
$danger        : #000;

/* Colores */
$color1            : #8dbd6d;
$color2            : #30ab7e;
$color3            : #b4e398;
$color4            : #228a03;
$color5            : #abdbb2;
$fondo-claro       : #eceaea;
$fondo-orcuro      : #382930;
$sombras           : #383838;
$btn-primary       : #00ced1;
$btn-primary-dark  : #05a1a7;
$text-color-primary: white;
$text-color-h1     : #dbd6d6;