$main-color: #585858;
$btn-primary: #00ced1;
$btn-primary-dark: #05a1a7;
$text-color-primary: white;
$text-color-h1: #dbd6d6;
@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Nerko+One:regular);

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-color;
  color: $text-color-primary;
  font-size: 20px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
  div.logo {
    font-size: 1.5em;
    h1 {
      margin-left: 15px;
      font-size: 1.5em;
    }
  }
  nav {
    padding-top: 20px;
    height: auto;
    justify-content: space-between;
  }
}

.btn {
  background-color: $btn-primary;
  border-radius: 5px;
  color: $text-color-primary;
  padding: 10px;
  text-decoration: none;
  &:hover {
	background-color: $btn-primary-dark;
	color: #585858;
  }
}

section.main{
	text-align: justify;
	font-size: 1em;
	article{
		margin-bottom: 30px;
		h2{
			color: #05a1a7;
			font-size: 1.8em;
			padding-bottom: 10px;
		}
	}
}
