$color1: #8dbd6d;
$color2: #30ab7e;
$color3: #b4e398;
$color4: #228a03;
$color5: #abdbb2;
$fondo-claro: #eceaea;
$fondo-orcuro: #382930;
$sombras: #383838;
$btn-primary: #00ced1;
$btn-primary-dark: #05a1a7;
$text-color-primary: white;
$text-color-h1: #dbd6d6;
@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Nerko+One:regular);

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: $fondo-claro;
  font-family: "Josefin Sans";
  font-size: 20px;
}

div.container {
  background-color: $color1;
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header header header" "left left right " "footer footer footer
  ";
}

header {
  grid-area: header;
  background-color: $color2;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 
  div.logo {
    font-family: "Nerko One";
    font-weight: 600;
    font-size: 2em;
    margin-left: 20px;
    color: $color3;
  }

  nav {
    margin-right: 20px;
    a {
      border-radius: 10px;
      box-shadow: 3px 3px 5px $sombras;
      text-decoration: none;
      padding: 10px;
      color: $fondo-claro;
      margin: 35px, 0px;
      background-color: $color4;
      &:hover {
        background-color: $color1;
      }
    }
  }
}

main.left {
  grid-area: left;
  Article {
    h1 {
      margin-left: 10px;;
      font-family: "Arial";
    }
    p {
      text-align: justify;
      line-height: 1.5;
      margin: 10px 10px;
      font-size: 1 em;
    }
  }
}

section.right {
  div.cards {
    border-radius: 10px;
    background-color: white;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: initial;
    h3 {
      border-radius: 10px 0px 0px 5px;
      font-family: "Nerko One";
      font-size: 35px;
      background-color: $color3;
      color: $color4;
      text-align: center;
      font-weight: 100;
    }
    p {
      font-size: 20px;
      font-family: "Josefin Sans";
      text-align: justify;
    }
    a{
      width: 50%;   
      align-items: center;

      &.btn{
        border-radius: 10px;
        text-align: center;
        color: $fondo-claro;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800;
        text-decoration: none;
        padding: 10px;
          background-color: $color4;
        &:hover {
          background-color: $color1;
        }
      }
    }
  }
}

section.right {
  grid-area: right;
}

footer {
  grid-area: footer;
  background-color: $color2;
  padding: 10px;
  text-align: center;
  font-family: Inconsolata;
  font-weight: 700;
}


