@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Nerko+One:regular);

h1{
    font-family: "Nerko One";
    color: cadetblue;
    display: block;
    margin: 2rem;
}

div.main{
    background-color: sandybrown;
    border: 5px solid yellowgreen;
    
}

div.header{
    border: 2px solid blue;
    background-color: bisque;
}
